
__pycache__/

.idea/
HTMŮ.html
Překvapení.jpg
Překvapení.png
pexels-kindel-media-8093175 (1080p).mp4
pexels_videos_4080 (2160p).mp4
answer.html
app.py
index.html
Test11.py
TestP.py

.env

fly.toml

.dockerignore
import flet as ft.py
import flet as ft.py
idk.py
Kally AI.py
Test11.py
TestP.py
testtest.py
testtest.py
TestP.py
TestP.py
Vodilos.cs
Untitled-1.py
testtest.py
testtest.py
